<div class="group">
    <div class="top-white">
        <div class="img">
            <img src="./assets/images/userAvatar.jpg" alt="">
        </div>
        <div class="form-box">
            <form action="">
                <textarea name="" id="" cols="60" rows="3" placeholder="write something"></textarea>
               <div class="publish">
                <button>Publish</button>
               </div>
            </form>
        </div>
    </div>

    <div class="post">
        <div class="name-box">
            <div class="img name-img">
                <img src="./assets/images/userAvatar.jpg" alt="">
            </div>
            <div class="name-details">
                <p>Janice Aniston</p>
                <span>Published: June,2 2018 19:PM</span>
            </div>
        </div>

        <p class="text">World's most beautiful car in Curabitur <span> #test drive booking !</span> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website</p>

        <div class="img-wrap">
            <div class="page-img">
                <img src="./assets/images/page1.jpg" alt="">
            </div>
            <div class="page-details">
                <p class="page-head">Love Maid - ChillGroves</p>
                <p class="page-body">Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...</p>
                <a>www.sample.com</a>
            </div>
        </div>
    </div>
</div>